*{
    margin:0;padding:0;box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.main{
    background-image: url("https://ak.picdn.net/shutterstock/videos/1055358536/thumb/1.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.content{
    width: 600px;
    background:white;
    padding: 20px 10px;
    border-radius: 10px;
    border:1px solid black;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.582);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
label{
    font-size:20px;
    color:rgb(34, 34, 34);
    margin-top: 20px;
    display: inline-block;
}
form{
    width:80%;
    margin:auto;
}
.logo{
    width:30%;
    margin:auto;
    animation: chuyendong 2.5s ease-out infinite ;
}
@keyframes chuyendong {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
input[type=text],input[type=password]{
    width: 100%;
    padding:10px 5px;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid rgb(175, 175, 175);
    outline:none;
    margin-bottom:10px
    
}

a{
    margin-top: 20px;
    color: black;
    background:black;
    color:white;
    width:   100%;
    padding: 10px 0px;
    display:block;
    text-align: center;
    text-decoration:none;
    margin-bottom: 30px;
    font-size: 20px;
    transition:0.5s;
    border:1px solid black;
    cursor:pointer;

}
a:hover{
    background:rgb(195, 195, 195);
    color :black;
}
.thongbao,.thongbao2{
    color: red;
}
@media screen and (max-width:600px) {
    .content{
        width:400px
    }
}