header{
    width: 100vw;
    background:rgb(255, 255, 255);
    border-bottom:1px solid gray;
    padding-top: 5px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 10;
}
.menu{
    width: 100%;
    height: 60px;
    display: flex;
}

.menu .logo{
    width: 30%;
    display: flex;
    height: 100%;
}
.textLogo{
    font-weight: bold;
    font-size: 2vw;
    line-height: 60px;
}
.menu .logo img{
    height: 100%;
}
.nav>li:hover>a{
    font-weight: bold;
}
.nav{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.nav li{
    list-style: none;
    padding: 10px;
    line-height: 60px;
}
/* //sub  */
li.active .menu-sub {
    display: flex !important;
}
.menu-sub{
    left: 0px;
    position: absolute;
    padding-bottom: 30px;
    width:95vw;
    overflow: auto;
    background:rgb(255, 255, 255);
    display:flex;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    justify-content:center;
    border: 1px solid gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    display: none;
    transition: 0.5s;
    

}
.menu-sub .content{
    width: calc(90vw/4);
    text-align:center;
    padding-right: 2vw;
    padding-left: 2vw;
    border-right: 1px solid black;
    
}
.menu-sub .content:first-child{
    padding-left: 0px;
}
.menu-sub .content:last-child{
    padding-right: 0px;
    border:0px;
}
.menu-sub .content h3{
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid black;
}
.menu-sub .content .sub{
    width:100%;
}
.menu-sub .content .sub li{
   padding: 0;
   line-height:30px ;
   padding:5px 10px;
   border-bottom: 1px solid rgb(206, 206, 206);
}
.sub a{
    font-size: 15px;
    transition: 0.3s;
}
.sub li:hover a{
    font-weight: bold;
}
/* end sub  */
.nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 5px 0px;
    font-size: 16px;
    transition: 0.5s;
}
.nav>li:last-child{
    margin-right: 20px;
}
.nav>li:last-child>a{
    background-color: black;
    color: white;
    padding: 5px 10px;
}


.menu-button{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.menu-button .line{
    width: 80%;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: 0.5s;
}
.line01{
   margin-top: -10px;
}
.line02{
   margin-top: 10px;
}
.menu-button.active .line03{
    margin-left: 60px;
    opacity: 0;
}
.menu-button.active .line02{
    transform:translate(-50%, -50%) rotate(-45deg);
    margin: 0;
    background-color: rgb(206, 28, 28);

}
.menu-button.active .line01{
    transform:translate(-50%, -50%) rotate(45deg);
    margin: 0;
    background-color: rgb(206, 28, 28);

}

@media screen and (max-width:1212px) {
    .menu-sub h3{
        line-height: 25px!important;
        padding: 10px 0px;
    }
    .menu-button {
        display: block!important;
        top: 10px;
        right: 50px;
        order: 2;
    }
    header{
        width: 100vw;
        display: flex;
    }
    ul.nav{
        width: 100%;
        position: absolute;
        top: 70px;
        justify-content: center;
        background-color: rgb(119, 119, 119);
        transform: translateX(120%);
        opacity: 0;
        transition: 0.5s;
    }
    ul.nav.active{
        transform: translateX(0%);
        opacity: 1;
    }
    ul.nav.active2{
        transform: translateX(-120%);
        opacity: 0;
    }
    ul.nav>li>a{
        color: white;
    }
}
@media screen and (max-width:880px) {
    .menu .logo{
        width: 40vw;
    }
    .menu .logo .textLogo{
        font-size: 30px;
    }
    ul.nav{
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid gray;
    }
    ul.nav>li>a{
        color: black;
    }
    ul.nav>li{
        position: relative;
    }
    .menu-sub{
        display: flex;
        flex-direction: column;
        z-index: 10;
        opacity: 0;
        height: 50vh;
        justify-content: flex-start;
        
    }
    .menu-sub .content{
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }
    .menu-sub .content .sub{
        text-align: center;
    }
    .menu-sub .content h3{
        background-color: black;
        color: white;
        text-align: center;
    }
    #danhmuc.active .menu-sub{
        opacity: 1;
    }
}
@media screen and (max-width:400px){
    .menu .logo .textLogo{
        display: none;
    }
}