*{margin:0;padding:0;box-sizing: border-box;}
/* //thanh cuon  */

::-webkit-scrollbar{
    width:6px;
    background:white;
}
::-webkit-scrollbar-thumb{
    background:black;
}



body,html{
    background:rgb(244, 244, 244);
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    transition: 0.5s;
}
.nutButton{
    display: none;
}
header{
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    background:white;
    padding:10px 10px;
    position:relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 50%;
    top:0px;
    transform: translateX(-50%);
    z-index: 1000;
}
.logoHeader{
    width:15%;
    overflow:hidden;
}
.logoHeader img{
    width:40%;
    transform:rotate(0deg);
    animation:RotateLogo 6s ease-in-out 2s infinite;
}
.allmenu{
    width: 85%;
    display: flex;
}
.menu{
    width:60%;
}
.menu li{
    display:inline-block;
    margin: 0px 15px;
    transition:0.5s;
}
.icon{
    transition: 0.5s;
}
.menu>li .sub-menu{
    position: absolute;
    background: white;
    border-radius: 5px;
    border:1px solid black;
    margin-top: 15px;
    opacity: 0;
    display: flex;
    flex-direction:column;
}
.menu>li .sub-menu>li:last-child{
    border: 0px;
}
.menu>li .sub-menu>li{
    padding: 10px 10px 10px 10px;
    border:0px;
    margin: 0;
    border-bottom: 1px solid rgb(206, 206, 206);

}

.menu>li:hover .sub-menu{
   opacity: 1;
}
.menu>li .sub-menu>li:hover{
    background-color: black;
}
.menu>li .sub-menu>li:hover a{
    color:white;
}
.menu>li>a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.menu li a{
    color:black;
    padding-bottom: 10px;
}
.course-vn-en{
    width:40%;
    text-align: right;
}
.course-vn-en a{
    color:black;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.course-vn-en a.active,.course-vn-en a:hover{
    color:white;
    background-color: black;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.104);
}



/* // animation */
@keyframes RotateLogo {
    0%{transform: rotate(0deg);}
    30%{transform: rotate(360deg);}
    70%{transform: rotate(360deg);}
    100%{transform: rotate(720deg);}
}

/* // footer  */
footer{
    width: 100vw;
    background-color: black;
    padding: 50px;
    color: white;
    text-align: center;
    margin-top: 50px;
}
footer span{
    color: rgb(206, 206, 206);
    margin-bottom: 10px;
    display: block;
    font-weight: 200;
}
footer a{
   color: white;
   font-size: 50px;
   transition: 0.5s;
}
footer a:hover{
    color: yellow;
 }

/* end footer  */


@media screen and (max-width:900px) {
    .logoHeader{
        display: none;
    }
    header{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:flex-start;
        background-color: rgb(244, 244, 244);
        position: fixed;
        padding: 0px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.172);
        border-radius: 0px;
        
      
    }
    .menu{
        width: 100%;
        margin: 20px 0px;
    }
    .menu>li{
        display: block;
        margin: 10px 0px;
    }
    .menu>li .sub-menu{
        z-index: 1000;
       
    }
    .course-vn-en{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    .fa-outdent{
        color: red;
    }
    .fa-bars,.fa-outdent{
        font-size: 30px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        transition: 0.5s;
        display: none!important;
    }
    .fa-bars.active{
        display: block!important;
    }
    .fa-outdent.active{
        display: block!important;
    }
    .nutButton{
        width: 40px;
        height: 40px;
        overflow: hidden;
        position: relative;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0px 10px 10px;
        display: block!important;
    }
    .nutButton:hover{
        background-color: black;
    }
    .nutButton:hover .fa-bars,.nutButton:hover .fa-outdent{
        color: white;
    }
    .allmenu{
        width: 100%;
        background-color: white;
        padding-left:20px;
        padding-bottom: 10px;
        margin-top: 60px;
        transform: translate(-100%);
        transition: 0.5s ease-in-out;
        flex-direction: column;
        position:absolute;
        z-index:100;
    }
    .allmenu.active{
        transform: translate(0%);
    }
}