.user{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.user .noidung{
    padding:20px 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.313);
    border-radius: 10px;
    margin-top: 20px;
}
.user button{
    background:gray;
    padding:5px 10px;
    border:0;
    cursor: pointer;
    color:white;
}
input[type="text"]{
    padding:5px 10px;
}
