<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,700;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="stylesheet" href="../css/main_body.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Nedesign</title>
</head>
<body>
    <header>
        <div class="nutButton">
            <i class="fa-solid fa-bars active"></i>
            <i class="fa-solid fa-outdent"></i>
        </div>
        <div class="logoHeader">
            <img src="../assets/images/favicon.svg" alt="">
        </div>
        <div class="allmenu">
        <ul class="menu">
            <li id="m1"><a href="../views/main.html">Web Devolopment</a></li>
            <li><a href="">IT software</a></li>
            <li><a href="">Design</a></li>
        </ul>
        <div class="course-vn-en">
            <a href="" class="course-vn active">Course VN</a>
            <a href="" class="course-en">Course ENG</a>
        </div>
        </div>
    </header>
    <!-- //slide  -->
    <div class="slider" name="_01">
        <div class="slide">
            <img src="../assets/images/sl1.jpg" alt="anh 1">
        </div>
        <div class="slide">
            <img src="../assets/images/sl2.jpg" alt="anh 2">
        </div>
        <div class="slide">
            <img src="../assets/images/sl3.jpg" alt="anh 3">
        </div>
        <div class="slide">
            <img src="../assets/images/sl4.jpg" alt="anh 4">
        </div>
        <div class="back"><i class="fa-sharp fa-solid fa-caret-left"></i></div>
        <div class="next"><i class="fa-sharp fa-solid fa-caret-right"></i></div>
    </div>
    <!-- end slide  -->












    
    <footer>
        <h1>Chia sẻ nội bộ</h1>
        <span>(Không chịu trách nhiệm bản quyền)</span>
        <p>FOLLOW cũng như ỦNG HỘ tác giả : <br> <P style="color:yellow; font-size: 20px;">VPBANK - 191184661</P></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/mainApp.js"></script>
</body>
</html>