<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,700;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="stylesheet" href="../css/main_body.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Nedesign</title>
</head>
<body>
    <header>
        <div class="nutButton">
            <i class="fa-solid fa-bars active"></i>
            <i class="fa-solid fa-outdent"></i>
        </div>
        <div class="logoHeader">
            <img src="../assets/images/favicon.svg" alt="">
        </div>
        <div class="allmenu">
        <ul class="menu">
            <li id="m1"><a href="">Web Devolopment</a>
            <i class="fa-sharp fa-solid fa-angle-down icon"></i>
            <ul class="sub-menu">
                <li><a href="#frontend">Lộ Trình Front end</a></li>
                <li><a href="#backend">Lộ trình Back end</a></li>
                <li><a href="#backend">HTML-CSS-JS</a></li>
                <li><a href="#backend">Node.js</a></li>
                <li><a href="#backend">React.js</a></li>
                <li><a href="#backend">Vue.js</a></li>
                <li><a href="#backend">PHP</a></li>
            </ul>
            </li>

            <li><a href="">Mobile Devolopment</a>
                <i class="fa-sharp fa-solid fa-angle-down icon"></i>
                <ul class="sub-menu">
                    <li><a href="../views/Android.html">ANDROID</a></li>
                    <li><a href="../views/ios.html">IOS</a></li>
                </ul>
            </li>

            <li><a href="">Hacker</a></li>
            <li><a href="">Designer</a>
            <i class="fa-sharp fa-solid fa-angle-down icon"></i>
            <ul class="sub-menu">
                <li><a href="">Illustrator (AI)</a></li>
                <li><a href="">Photoshop (PS)</a></li>
                <li><a href="">After Effect (Ae)</a></li>
                <li><a href="">Premiere (PR)</a></li>
                <li><a href="">Maya</a></li>
                <li><a href="">3D max</a></li>
                <li><a href="">Blender</a></li>
            </ul>
            </li>
            <li><a href="">Marketing</a></li>
            <li><a href="">Tiếng Anh</a></li>
        </ul>
        <div class="course-vn-en">
            <a href="" class="course-vn active">Course VN</a>
            <a href="" class="course-en">Course ENG</a>
        </div>
        </div>
    </header>

    <div class="main_body">
        <div class="web_d">
            <h1 id="frontend">IOS CHO NGƯỜI CHƯA BIẾT GÌ</h1>
            <a href="https://drive.google.com/drive/folders/1YvlDZbOSMOyIcnZPFFH2d9xKgwcpoMb5?usp=sharing" class="course">
                <div class="img">
                    <img src="https://sapp.vn/wp-content/uploads/2019/05/screenshot_1586340345-1.jpg" alt="co ban">
                </div>
                
                <div class="tieude">
                    Học Lập Trình Ứng Dụng iOS Thông Qua 10 Ứng Dụng Thiết Thực
                </div>
                <div class="button">
                    Trị giá 999,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>
            
        </div>
       
    </div>











    <footer>
        <h1>Chia sẻ nội bộ</h1>
        <span>(Không chịu trách nhiệm bản quyền)</span>
        <p>FOLLOW cũng như ỦNG HỘ tác giả : <br> <P style="color:yellow; font-size: 20px;">VPBANK - 191184661</P></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/mainApp.js"></script>
</body>
</html>