<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,700;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="stylesheet" href="../css/main_body.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Nedesign</title>
</head>
<body>
    <header>
        <div class="nutButton">
            <i class="fa-solid fa-bars active"></i>
            <i class="fa-solid fa-outdent"></i>
        </div>
        <div class="logoHeader">
            <img src="../assets/images/favicon.svg" alt="">
        </div>
        <div class="allmenu">
        <ul class="menu">
            <li id="m1"><a href="">Web Devolopment</a>
            <i class="fa-sharp fa-solid fa-angle-down icon"></i>
            <ul class="sub-menu">
                <li><a href="#frontend">Front end</a></li>
                <li><a href="#backend">Back end</a></li>
            </ul>
            </li>
            <li><a href="">IT software</a></li>
            <li><a href="">Design</a></li>
        </ul>
        <div class="course-vn-en">
            <a href="" class="course-vn active">Course VN</a>
            <a href="" class="course-en">Course ENG</a>
        </div>
        </div>
    </header>

    <!-- //slide  -->
    <div class="slider" name="_01">
        <div class="slide">
            <img src="../assets/images/sl1.jpg" alt="anh 1">
        </div>
        <div class="slide">
            <img src="../assets/images/sl2.jpg" alt="anh 2">
        </div>
        <div class="slide">
            <img src="../assets/images/sl3.jpg" alt="anh 3">
        </div>
        <div class="slide">
            <img src="../assets/images/sl4.jpg" alt="anh 4">
        </div>
        <div class="back"><i class="fa-sharp fa-solid fa-caret-left"></i></div>
        <div class="next"><i class="fa-sharp fa-solid fa-caret-right"></i></div>
    </div>
    <!-- end slide  -->

    <div class="main_body">
        <div class="web_d">
            <h1 id="frontend">FRONTEND CHO NGƯỜI CHƯA BIẾT GÌ</h1>
            <a href="https://drive.google.com/drive/folders/1ueFh-P8tGv-k2VqAnn1-qPK-Kp2iwEcs?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587459627646.png" alt="co ban">
                </div>
                
                <div class="tieude">
                    FRONTEND - 01 - HTML CSS cơ bản
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>
            <a href="https://drive.google.com/drive/folders/1BtwV_T-ULukgaKPwwCHOYyh9owwQvf00?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/1cb7aead2cc772356d4b9a1649397058/1494748390660.png" alt="co ban 2">
                </div>
                
                <div class="tieude">
                    FRONTEND - 02 - Bootstrap 4, Jquery, CSS3, HTML5
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>
            
            <a href="https://drive.google.com/drive/folders/1HJKdM_i61eQX68JoqNEQh_b13nf2-JYG?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587460899163.jpg" alt="co ban 3">
                </div>
                
                <div class="tieude">
                    FRONTEND - 03 - Học JQuery từ cơ bản đến nâng cao
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>

            <a href="https://drive.google.com/drive/folders/1wJF-LIvnzrP3eDCeooF0dFwRQColsyyq?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587459892748.png" alt="co ban 4">
                </div>
                
                <div class="tieude">
                    FRONTEND - 04 - Học tất tần tật về Javascrip từ đầu
                </div>
                <div class="button">
                    499,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>

            <a href="https://drive.google.com/drive/folders/1_ilG1gUaBT_RyBKO6BVJAk1rl_qiGjGO?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587460543767.jpg" alt="co ban 5">
                </div>
                
                <div class="tieude">
                    FRONTEND - 05 - Lập trình Frontend nâng cao qua project thực tế
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>
            <a href="https://drive.google.com/drive/folders/13whPBduR3qU8H_FdAltubE0GebgSa8c7?usp=sharing" class="course">
                <div class="img">
                    <img src="http://cdn-ov1.hachium.com/1cb7aead2cc772356d4b9a1649397058/1494762912097.png" alt="co ban 6">
                </div>
                
                <div class="tieude">
                    FRONTEND - 06 - Học cách sử dụng Git & github cho lập trình
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a> 

            <a href="https://drive.google.com/drive/folders/1I7nx3nsetI9sjwFjFZ2z7N0hME0NE7wm?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587460823043.jpg" alt="co ban 7">
                </div>
                
                <div class="tieude">
                    FRONTEND - 07  - Học SASS và cắt web từ file photoshop theo 'kiểu' SASS
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>

            <a href="https://drive.google.com/drive/folders/1s7VuQ3ItpHLvn7jPdvazdsDW_1RSxE3d?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587460753264.png" alt="co ban 8">
                </div>
                
                <div class="tieude">
                    Frontend - 08 - Thành thạo lập trình hướng đối tượng Typescript với ES6
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>
            
            <a href="https://drive.google.com/drive/folders/1HY-_POUq3LY22PQ6RRmlUkho7y7FHdGY?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587460870906.jpg" alt="co ban 9">
                </div>
                
                <div class="tieude">
                    FRONTEND - 09 - Thiết kế hiệu ứng bằng Javascript và illustrator
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>

        </div>
        <div class="web_d">
            <h1 id="backend">BACKEND CHO NGƯỜI BIẾT CƠ BẢN</h1>
            <a href="" class="course">
                <div class="img">
                    <img src="http://cdn-ov1.hachium.com/1cb7aead2cc772356d4b9a1649397058/osc9yQWuSkikjQdxTFz2_banner12.png" alt="co ban">
                </div>
                
                <div class="tieude">
                    12 - Học lập trình ra website hoàn chỉnh A-Z với WordPress
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>
            <a href="https://drive.google.com/drive/folders/1k4a_h_6FM29fEuK_UzamMzcdJ7XADBVG?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587487167432.jpg" alt="co ban 2">
                </div>
                
                <div class="tieude">
                    18-Lập trình Backend bằng PHP/Mysql theo mô hình MVC với Codeigniter
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>
            
            <a href="" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587487177454.jpg" alt="co ban 3">
                </div>
                
                <div class="tieude">
                    19 - Học lập trình Back-end PHP/MySql/Jquery nâng cao
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>

            <a href="https://drive.google.com/drive/folders/1hq3RVGwwg8gB9RW-W6-gD6045Eh3roC5?usp=sharing" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587486974478.jpg" alt="co ban 4">
                </div>
                
                <div class="tieude">
                    20 - Lập trình Fullstack với Angular 1 (Angular.js) - Mysql
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>

            <a href="" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/6658b9fc85f4057438ff6ace48582306/1587487339711.jpg" alt="co ban 5">
                </div>
                
                <div class="tieude">
                    34- THỰC HÀNH THIẾT KẾ DỮ LIỆU VỚI SQL QUA BÀI TẬP
                </div>
                <div class="button">
                    399,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>
            <a href="" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/1cb7aead2cc772356d4b9a1649397058/1523787381909.png" alt="co ban 6">
                </div>
                
                <div class="tieude">
                    029 - Lập trình React js, Redux từ đầu, App fullstack với Node JS + React JS
                </div>
                <div class="button">
                    599,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a> 

            <a href="" class="course">
                <div class="img">
                    <img src="https://cdn-ov1.hachium.com/1cb7aead2cc772356d4b9a1649397058/1514537817178.png" alt="co ban 7">
                </div>
                
                <div class="tieude">
                    027 -Lập trình Backend bằng Node JS, MongoDB, Mongoose, và PostgreSQL
                </div>
                <div class="button">
                    599,000 <sup>đ</sup>
                </div>
                <div class="button xanh">
                    Học ngay!
                 </div>
            </a>

        </div>
    </div>
    <footer>
        <h1>Chia sẻ nội bộ</h1>
        <span>(Không chịu trách nhiệm bản quyền)</span>
        <p>FOLLOW cũng như ỦNG HỘ tác giả : <br> <P style="color:yellow; font-size: 20px;">VPBANK - 191184661</P></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/mainApp.js"></script>
</body>
</html>